<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>welcome to google </h1>


        <a href="{% url 'app1:flipkart' %}"><h3>click here to flipkart_page</h3></a>
        <a href="{% url 'app2:instagram' %}"><h3>click here to instagram_page</h3></a>
        <a href="{% url 'app2:facebook' %}"><h3>click here to facebook_page</h3></a>

    
    </center>
    
</body>
</html>